{% extends 'base.html.twig' %}

{% block title %}Admins{% endblock %}

{% block body %}
    <div class="container-xxl flex-grow-1 container-p-y">
        <a href="{{ path('ajouter_admins') }}" class="btn btn-primary">Add Admin</a>
        <br>
        <br>
        <div class="card">
        <h5 class="card-header">Liste des Admins</h5>
        <div class="table-responsive text-nowrap">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>image</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Usermane</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                {% for a in admins %}
                <tr>
                    <td>
                        <img src="{{ asset('../assets/img/admin/'~ a.image)}}" alt class="w-px-40 h-auto rounded-circle" />
                    </td>
                    <td>{{ a.nom }}</td>
                    <td>{{ a.prenom }}</td>
                    <td>{{ a.username }}</td>
                    <td>
                        {% if a.enabled == 0 %}
                        <span class="badge bg-label-danger me-1">desactive</span>
                        {% elseif a.enabled == 1 %}
                         <span class="badge bg-label-primary me-1">Active</span>
                        {% endif%}
                    </td>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu" style="">
                                {% if app.user.id == a.id %}
                                    <form  method="post"  action=" {{ path('supprimer_admins' , {'id' : a.id})}}" onsubmit="return confirm('Voulez vous supprimer ?')">
                                        <input type="hidden" name="_method" value="SUP">
                                        <input type="hidden" name="_token" value="">
                                        <input type="submit" class="btn btn-danger d-grid w-80" value="supprimer" disabled>
                                    </form>
                                {% else %}
                                    <form  method="post"  action=" {{ path('supprimer_admins' , {'id' : a.id})}}" onsubmit="return confirm('Voulez vous supprimer ?')">
                                    <input type="hidden" name="_method" value="SUP">
                                    <input type="hidden" name="_token" value="">
                                    <input type="submit" class="btn btn-danger d-grid w-80" value="supprimer">
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
{% endblock %}
