<h1>Informations Personelles</h1>
<p> Voici les informations de Votre compte monsieur/madamme
    {{ admin.nom ~' '~ admin.prenom }} :
    <br><br>
    <p class="card-text"><i class="bx bx-envelope"></i>email : {{ admin.email }}</p>
    <p class="card-text"><i class="bx bx-group"></i>departement : {{ admin.departement}}</p>
    <p class="card-text"><i class="bx bx-world"></i>pays : {{ admin.pays}}</p>
    <p class="card-text"><i class="bx bx-time"></i>annee d'experience : {{ admin.anneeexperience }}</p>
    <p class="card-text"><i class="bx bx-world"></i>Langue : {{ admin.langueParle}}</p>
    <p class="card-text"><i class="bx bx-world"></i>password : {{ pwd}}</p>
</p>